@page
@using IBS_Europe.App.Resources
@model IBS_Europe.App.Pages.AboutUsHome

@{
    ViewData["Title"] = SharedResource.AH_Title;
}


<div class="container mt-5">
    <h1 class="text-center">@SharedResource.AH_Title</h1>
    <div class="mt-5 d-flex justify-content-center align-items-center flex-wrap gap-3">
        <a asp-page="/AboutUsText" class="m-1 btn button-1 p-5 d-flex justify-content-center align-items-center" style="width: 30em; height: 20em;   background-image: url('images/engagement.jpg'); background-size: cover;     ">
            
            <fieldset class="ps-5 pe-5 rounded-4 bg-transparent-light border-black">
                <p class="m-1 text-black fs-3">@SharedResource.AH_Commitments</p>
            </fieldset>
        </a>
        <a asp-page="/AboutUsTeam" class="m-1 btn button-1 p-5 d-flex justify-content-center align-items-center" style="width: 30em; height: 20em; background-image: url('images/equipe.jpg'); background-size: cover;">
                    
            <fieldset class="ps-5 pe-5 rounded-4 bg-transparent-light border-black">
                <p class="m-1 text-black fs-3">@SharedResource.AT_Title</p>
            </fieldset>
        </a>
        
    </div>
</div>

@section Scripts {
    <script src="~/js/aboutUsHome.js"></script>
}