@page
@using IBS_Europe.App.Resources
@model IBS_Europe.App.Pages.Mentions

@{
    ViewData["Title"] = SharedResource.M_Title;
}

<section class="p-5" style="width: 80%;">
    <div class=" container ms-2">
        @Html.Raw(SharedResource.M_Text)
    </div>

</section>