@page
@using IBS_Europe.App.Resources
@model IBS_Europe.App.Pages.Shared.Politic

@{
    ViewData["Title"] = SharedResource.Po_Title;
}

<section class="p-5" style="width: 80%;">
    <div class="container ms-2">
        @Html.Raw(SharedResource.Po_Text)
    </div>

</section>
